.Chat
  .MainHeader
    .MainHeader__group
      .MainHeader__group-name
        = @group.name
        .MainHeader__member-list
          member:
          .MainHeader__member
            - @group.users.each do|user|
              =user.name
    .MainHeader__edit-button
      = link_to edit_group_path(@group) do
        Edit

  .Main-messages
    = render @messages
    
  .Footer
    = form_with model: [@group, @message], html: {class: "Main-form"}, local: true do |f|
      .Main-form__contents
        = f.text_field :content, class: 'Main-form__input-content', placeholder: 'type a message'
        = f.label :image, class: 'Main-form__input-image' do
          = icon('fas', 'image', class: 'Main-form__icon')
          = f.file_field :image, class: 'Hidden'
      =f.submit 'Send', class: 'Main-form__submit'

      
      